body {
    background-image: url("C:\Users\a_eul\OneDrive\Área de Trabalho\Imersão CSS_alura\imagens")
  }
    
  a:hover {
    text-decoration: underline;
  }
  
  .menu li {
    list-style: none;
  }