body {
    background-image: url("file:///C:/Users/a_eul/OneDrive/%C3%81rea%20de%20Trabalho/Imers%C3%A3o%20CSS_alura/imagens/Ci%C3%AAncia%20de%20Dados.jpg");
  }
    
  a:hover {
    text-decoration: underline;
  }
  
  .menu li {
    list-style: none;
  }